/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field.mat-focused .mat-form-field-ripple {
    /*background-color: #63961C!important;*/
    background-color: #26a69a!important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #26a69a!important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #26a69a!important;
}

.mat-option.mat-selected.mat-active {
    color: #26a69a!important;
}