<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Gestión de Requerimientos</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro">
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario Asignado</mat-label>
                        <mat-select formControlName="usuarioAsignado">
                            <mat-option value="0">Todos</mat-option>
                            <mat-option value="1">Ana Luisa</mat-option>
                            <mat-option value="2">Patricia</mat-option>
                        </mat-select>
                    </mat-form-field>                    
                </div>
            </div>
            <div class="col s12 m6 l3">
            </div>
            <div class="col s12 m6 l3">

            </div>
            <div class="col s2 m6 l2 offset-s7">
                <button class="btn waves-effect waves-light btn-default-resize" (click)="buscarListaRequerimiento()" style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>
        <div class="col s2 m6 l2 offset-s1">
            <button class="btn btn-default-resize" style="margin-top:23px;" id="btnNuevo">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>

</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="requerimiento-grid">
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

        <table mat-table [dataSource]="listaRequerimiento">
            <ng-container matColumnDef="NumeroRequerimiento">
                <th mat-header-cell *matHeaderCellDef> Num. Requerimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.NumeroRequerimiento}} </td>
            </ng-container>
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="cursor: pointer;" name="action" >create</i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>                                
    </div>
</div>