.input-field-search {
    background-color: #fff;
    padding: 0 30px;
    margin: 0;
    padding: 0 0 0 50px;

    input[type=text], input[type=text]:focus:not([readonly]) {
        margin-bottom: 0;
        border-bottom: 0;
        box-shadow: none;
    }

    input[type=search], input[type=search]:focus:not([readonly]) {
        margin-bottom: 0;
        border-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
     
    i {
        color: #4a4a4a;
        padding-top: 10px;
    }

    .label-icon {
        width: auto !important;
    }
}

.p-align-right {
    text-align: right;
}

.input-field-common {
    //margin: 0;

    input[type=text]:not(.browser-default), input[type=number]:not(.browser-default) {
        //height: 32px;
        font-size: 14px;
    }

    textarea {
        margin-bottom: 0;
    }

    .file-field.input-field, .chips-autocomplete.chips.input-field {
        margin: 0;
    }

    .select-wrapper {
        input {
            font-size: 14px;
        }

        ul {
            background-color: #f0f1f2;

            span {
                font-size: 12px;
                color: #4a4a4a;
            }
        }
    }

    .autocomplete-content.dropdown-content {
        li img {
            display: none;
        }

        min-width: 300px;
    }

    .file-field-icon {
        position: absolute;
        top: 10px;
        right: 6px;
        cursor: pointer;
        display: none;

        &.on {
            display: block
        }
    }
}

.file-field-content {
    .file-field.input-field {
        margin-right: 20px;
    }

    .icon-suffix {
        right: 2.0rem;
    }
}
