.modal {
    background-color: #f3f3ee; //#fefefe;
    top: 5% !important;
    max-height: 89%;

    h4.title {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.34px;
        color: #41af4f;
        margin: 20px 15px;
        font-family: Ubuntu-Medium;
    }

    i.btn-close {
        margin: 15px 0;
        opacity: 0.3;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
    }

    input-form {
    }

    .modal-titulo {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.51px;
        color: #00694f;
    }

    .modal-content-tabs {
        padding: 0px;

        .col.s12 {
            padding: 0;

            &.tab-content {
                padding: 15px;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.3px;
                color: #666666;

                .col.s12 {
                    padding: 0 .75rem;
                }
            }
        }

        .tabs {
            background-color: #41af4f;

            a {
                color: #fff;
                opacity: 0.8;

                &.active {
                    background-color: transparent;
                    opacity: 1;
                }
            }

            .indicator {
                background-color: #ffd204;
            }
        }

        h5 {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.51px;
            color: #00694f;
        }

        b {
            font-weight: bold;
        }

        .collapsible-header {
            .row {
                width: 100%;
            }
        }
    }

    .content-input {
        padding: 5px;

        .row {
            margin-bottom: 0px;
        }
    }

    .section-border-top {
        border-top: 1px dotted rgba(0,0,0,0.1);
    }

    .section-border-bottom {
        border-bottom: 1px dotted rgba(0,0,0,0.1);
    }

    &.modal-s {
        max-width: 40%;
    }

    &.modal-m {
        max-width: 60%;
    }

    &.modal-l {
        max-width: 85% !important;
    }

    .modal-alert-content {
        padding-bottom: 5px;

        p {
            font-size: 12px;
            letter-spacing: 0.26px;
            text-align: center;
            color: #000000;
            font-weight: bold;
        }
    }



    .modal-alert-footer {
        text-align: center;
        margin-bottom: 24px;

        button {
            width: auto;
        }
    }
}

.tab-content-subtitle {
    padding: 10px 0px;
    background-color: #fafbfc;
    border-top: 1px solid #edf2f6;
    border-bottom: 1px solid #edf2f6;
}


@media only screen and (min-width: 601px) {
    .modal {
        max-height: 90%;
        width: 100%;
    }
}