<ul (click)="clickSlideOut()" id="slide-out" class="sidenav collapsible">
    <li>
        <div class="user-view center-align">
            <div class="background">

            </div>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    
</ul>